html { 
	text-align: left; 
	color: rgb(80,80,80);
	font-family: "Slabo 27px";
	font-size: 14.5px;
}

body {
	margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v3/PuwvqkdbcqU-fCZ9Ed-b7QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

header {
	width: 100%;
	height: 300px;
	text-align: center;
	padding: 150px 0px;
	font-family: "Open Sans";
	font-weight: 300;
	box-shadow: 0px 2px 10px rgba(50,50,50,0.5);
}

header, footer {
	background-color: rgb(230,230,233);
}

header h1 {
	color: rgb(50,50,50);
	font-weight: bold;
}

header h3 {
	vertical-align: text-bottom;
	font-style: normal;
}

h1 {
	font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 400;
}

h4 {
	font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
    font-weight: 400;
}

h5 {
	font-family: 'Open Sans';
	font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
    font-weight: 400;
}

h6, #detail {
	font-family: 'Slabo 27px';
	font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0;
    font-weight: 400;
    padding: 0 15px;
}

.links {
	position: relative;
	top: 200px;
}

.links a {
	padding: 5px 20px;
	margin: 0 5px;
	color: rgb(80,80,80);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 1rem;
}

.links a:hover {
	background-color: rgb(150,150,150);
	color: rgb(0,0,0);
}

#coverletter, #resume, #portfolio, #contact {
	margin: 50px 0px;
	padding: 30px 0;
}

#resume h6 a {
	color: rgb(80,80,80);
	padding: 5px 20px;
	margin: 0 5px;
	color: rgb(0,0,0);
	border-radius: 1rem;
	background-color: rgb(150,150,150);
}

.hidden {
	opacity: 0.0;
	text-align: right;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.section {
	margin: 0px 150px;
	padding: 0px 20px;
	border-left: 5px solid rgba(50,50,53,0.75);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	max-width: 950px;
}

.section:hover {
	box-shadow: 0px 2px 10px rgba(50,50,53,0.5);
}

.section:hover .hidden {
	opacity: 1.0;
}

.inlineref {
	color: inherit;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.section:hover .inlineref {
	color: rgb(90,140,250);
}

a {
	color: rgb(90,140,250);
	text-decoration: none;
}

.imagecontainer {
	padding: 0 5px;
}

#portfolio a {
	color: rgb(80,80,80);
	padding: 5px 20px;
	margin: 0 5px;
	color: rgb(0,0,0);
	border-radius: 1rem;
	background-color: rgb(150,150,150);
}

#portfolio .disclaimer {
	font-style: italic;
	color: rgba(80,80,80,0.5);
}

.section img {
	width: 100%;
	height: auto;
	max-width: 1200px;
}

footer {
	text-align: left;
	padding: 3px 10px;
	font-family: "Open Sans";
	box-shadow: 0px -2px 10px rgba(50,50,53,0.5);
}

.italic {
	font-style: italic;
}

header .italic {
	font-weight: 200;
	color: rgb(120,120,123);
}

.inline {
	display: inline;
}

b {
	font-style: capitalize;
}

#map {
	margin-right: 20px;
	height: 300px;
	width: auto;
}

.foot_icon {
	padding: 0px 14px;
}

.fa {
	color: inherit;
	font-size: 20px !important;
}