<!DOCTYPE html>

<html>

	<head>
		<title>GJM: Pocket Pup</title>
		<link rel="shortcut icon" type="image/x-icon" href="../public/images/png/swarley_favicon.png" />
		<meta name="landing" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../public/css/projects.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-107685063-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WTS59FW');</script>
		<!-- End Google Tag Manager -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../portfolio.js"></script>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107685063-1"></script>
	</head>

	<body>
		<header class="nav nav-down">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="back col s3 m3 l3">
						<button><a href="../index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</a></button>
					</div>
					<div class="back proj col s3 m3 l3">
						<div class="dropdown">
							<button onclick="dropDown()" class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i>Project List</button>
							<div id="myDropdown" class="dropdown-content">
								<a href="ptt.html">Paint the Town</a>
							    <a href="pocketpup.html">Pocket Pup</a>
							    <a href="wanderlust.html">Wanderlust</a>
							    <a class="active" href="chronicle.html">Chronicle</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<body>

			<div class="page_top row">
				<div class="section col s12 m10 l10 offset-m1 offset-l1">
					<div class="col s12 m6 l6 gif_holder chronicle">
						<img class="pic chronicle" src="../public/images/png/chronicle.png">
					</div>
					<div class="col s12 m6 l6">
						<div class="content">
							<h4>Chronicle</h4>
							<h6>Submission for the Disney Imagineering Competition for 2017. Imagined a ghost town rehabilitation that invovled an Augmented Reality experience.</h6><br>
							<h6><em class="italic">Adobe Illustrator / Adobe Photoshop / Digital Painting / Rhino v5 / Grasshopper3D</em></h6>
						</div>
					</div>
				</div>
			</div>

			<div class="page_body row">
				<div class="row">
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<h5>Prompt</h5>
						<p><em class="italic">"Choose an actual abandoned or “ghost town” from anywhere in the world and re-vitalize it!
						<br><br>It might be as a working town, a historical landmark, a living museum, a themed experience, or whatever else you can dream up. Consider historical value and respect for the traditions and communities of the original and surrounding areas.
						<br><br>You can integrate the entire town, or carefully selected sections that best serve your idea and the location. Be mindful of any environmental impact that your proposal may have. What technological advancements will be necessary to not only develop your idea, but to engage guests to your new creation both in person, and before, during and after a visit?
						<br><br>How will your idea appeal to families? In what ways will it be accessible to as diverse an audience as possible? Is there a social service component to your creation that will be of value to the local community or beyond?"</em></p>
						<p>- https://disneyimaginations.com/</p>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<h5>Our Process</h5>
						<p>Having more design experience compared to my 3 other group members, I aimed to lead our discussion on how to approach the prompt and the site. We had several ways of interpreting the term <em class="italic">'ghost town'</em>, and it was important to me that we evaluated the strengths and weaknesses of those:</p>
						<div class="row subsection chronicle">
							<div class="col s6 m6 l6 section">
								<p><b>Historical Context</b></p>
								<p>The benefit would be the history of the site. It provides an opportunity to not just educate about the going ons of the site, but it gives a platform to educate on why the town became abandoned. The difficulties lie in the accessibility of documentation of these sites, whether a site is a historic landmark, and whether the buildings stand at all.</p>
							</div>
							<div class="col s6 m6 l6 section">
								<p><b>Contemporary Context</b></p>
								<p>Modern ghost towns are abandoned neighborhoods which typically came to be through economic hardships. Approaching a site like this has a great opportunity for social change and the chance to atempt at solving the problems people have today. The trouble in a modern ghost town is...</p>
							</div>
						</div>
						<p>Ultimately we chose to approach a historic ghost town. This decision was made through the benefits provided by a historic site in relation to the prompt, and the difficulties that came with the contemporary site. In the end, we are making an attraction, and using a contemporary ghost town felt innapropriate for this context when we would be choosing between sites where some residents still live.</p>
						<p>We chose Garnet, Montana as our site after deciding between upwards of 30 potential sites. Garnet is very well preserved which gives it a great, tangible tie to its history, as well as a prevalent display of how these structures last over time. It has a rich history of mining, family-centric community, and notable eccentric townsfolk that they still tell stories of. It had a few restrictions we chose to respect in order to challenge ourselves involving the lack of building within a half mile radius of the site.</p>
						<p></p>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<h5>Submitted Project</h5>
						<p></p>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_1.jpg">
						<div class="subsection chronicle">
							<p>Garnet, Montana is one of our countries more well preserved ghost towns. A gold mining town which they found red gem stones in the ground, Garnet boasted a population of over 1000 residents in the early 20th century. Once gold was scarce, the town was slowly abandoned.</p>
						</div>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_2.jpg">
						<div class="subsection chronicle">
							<p>To preserve the site, we propose a strategy of creating a digital respresentation of the site. This acts as both a copy of the site as it stands but also the canvas for us to build a platform for education by reconstructing the town to its former glory.</p>
						</div>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_3.jpg">
						<div class="subsection chronicle">
							<p>When guests book their visit, they are presented with their own garnet and augmented reality capable spectacles, Ghost Vision. Not just an ordinary gemstone, the garnet they are given records experiences of their visit to provide the guest with their own preserved memories.</p>
						</div>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_4.jpg">
						<div class="subsection chronicle">
							<p>As guests explore Garnet, they use their Ghost Visiion glasses to see Garnet as it exists over 100 years ago. A simulation of the towns people allows guests to fully understand life in Garnet. With some famous townsfolk, they even get to converse.</p>
						</div>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_5.jpg">
						<div class="subsection chronicle">
							<p>Learning is extended into traditions as guests are indoctrinated into life in Garnet through the Miner's Ball. Past and Present collide in a celebration of tradition and history.</p>
						</div>
					</div>
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<img src="../public/images/png/slide_6.jpg">
						<div class="subsection chronicle">
							<p>Before they leave, guests sign the hotel's guestlist preserving their presence in Garnet for generations to come. They take with them their gemstone and their memories to share as the years go by.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m8 l8 offset-m1 offset-l1">
						<h5>Critique</h5>
						<p>Overall, I am ecstatic about the project we developed for the competition. I give a lot of credit to the team I had the pleasure to work with given their dedication, trust for our process, and their ability to communicate openly and with fearlessness to push this project.</p>
						<p>For Kristin Agcoaili, Kaitlyn Agcoaili, and Michelle Viado, I am grateful for every second they gave to this experience.</p>
						<p>Looking back, it becomes clear that we could have better balanced the time we gave early on to the site choosing process. We had two great artists who produced our illustrations, but I would have rather given us time to critique within the process more in order to make even more of the limited space we had for our presentation. With additional time to work on the project, I would have liked to see us build more on the tradition exploration for guests. The site has a history of ghost encounters that we were not able to integrate. It was a small piece, but something we intended on including to widen our audience and expand our topics to educate with.</p>
					</div>
				</div>
			</div>

		</body>

</html>