<!DOCTYPE html>

<html>

	<head>
		<title>GJM: Pocket Pup</title>
		<link rel="shortcut icon" type="image/x-icon" href="../public/images/png/swarley_favicon.png" />
		<meta name="landing" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../public/css/projects.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-107685063-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WTS59FW');</script>
		<!-- End Google Tag Manager -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../portfolio.js"></script>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107685063-1"></script>
	</head>

	<body>
		<header class="nav nav-down">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="back col s3 m3 l3">
						<button><a href="../index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</a></button>
					</div>
					<div class="back proj col s3 m3 l3">
						<div class="dropdown">
							<button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i>Project List</button>
							<div id="myDropdown" class="dropdown-content">
								<a href="ptt.html">Paint the Town</a>
							    <a class="active" href="#">Pocket Pup</a>
							    <a href="wanderlust.html">Wanderlust</a>
							    <a href="chronicle.html">Chronicle</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="page_top row">
			<div class="section col s12 m8 l8 offset-m1 offset-l1">
				<div class="col s12 m6 l6 gif_holder pocketpup">
					<img class="pic pocketpup" src="../public/images/gif/pocketpup_1_login.gif">
				</div>
				<div class="col s12 m6 l6">
					<div class="content">
						<h4>Pocket Pup</h4>
						<h6>Web app used to help better prepare and train dog owners through simulating situations based on their own pet’s needs.</h6><br>
						<!-- <a href="https://pocketpup.herokuapp.com" target="_blank">Demo Here</a> --><br><br>
						<h6><em class="italic">HTML / CSS / JavaScript / Node / Express / Adobe Illustrator / Adobe Photoshop</em></h6>
						<h6 class="disclaimer">All credit for the background art to Neko Atsume.</h6><br><br>
						<a class="ref" href="https://github.com/gjmorgan91/PocketPup" target="_blank">View on Github</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page_body row">
			<div class="row">
				<div class="col s12 m8 l8 offset-m1 offset-l1">
					<h5>User Study</h5>
					<p>We began our process through a need finding study aimed towards dog owners. We conducted 3 interviews to develop personas to use throughout our design process.</p>
					<div class="row subsection pocketpup">
						<div class="col s4 m4 l4">
							<h6>Jamison and Madix</h6>
							<p>Jamison, age 22, has a 2 year old german shepheard named Madix. Jamison enjoys training his dog, he feels it establishes a better relationship with them. He has problems with his dog towards some smaller ones and wants to break this behavior.</p>
						</div>
						<div class="col s4 m4 l4">
							<h6>Andrew and Odin</h6>
							<p>Andrew, age 27, has a 1.5 year old huskie named Odin. Odin is less responsive to Andrew's commands and lacking some training. He enjoys playing with his dog and sees less benefit from continuous training.</p>
						</div>
						<div class="col s4 m4 l4">
							<h6>Kevin and Athena</h6>
							<p>Kevin, age 42, has a 7 year old doberman named Athena. He is not proficcient with using technology, and his dog tends to be rather antisocial. She is very responsibe to him.</p>
						</div>
					</div>
					<div class="row">
						<h6>The problem:</h6>
						<p>Through our user study, we identified a common thread between our three personas; when faced with a problem regarding their dog (ie: training, dietary, ect), they had no means of preparing themselves beforehand. That is to say, all training was done after the problem had occurred.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m8 l8 offset-m1 offset-l1">
					<h5>Prototype</h5>
					<p>Will fill with pictures to aid in the description.</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m8 l8 offset-m1 offset-l1">
					<h5>Product</h5>
					<p>Throughout our process, we decided on Pocket Pup. We were given an additional studio-imposed constraint of developing a game experience. Aimed to help owns, Pocket Pup allows a user to add their own dog's likeness into the game. Adding their dog's metrics (age, weight, breed, ect), Pocket Pup will simulate scenarios likely to occur for that owner.</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m8 l8 offset-m1 offset-l1">
					<h5>Critique</h5>
					<p></p>
				</div>
			</div>
		</div>

	</body>

</html>