<!DOCTYPE html>

<html>

	<head>
		<title>GJM: Pocket Pup</title>
		<link rel="shortcut icon" type="image/x-icon" href="public/images/png/swarley_favicon.png" />
		<meta name="landing" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../public/css/projects.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-107685063-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WTS59FW');</script>
		<!-- End Google Tag Manager -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../portfolio.js"></script>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107685063-1"></script>
	</head>

	<body>
		<header class="nav nav-down">
			<div class="row">
				<div class="col s12 m12 l6">
					<div class="back col s3 m3 l3">
						<a href="../index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</a>
					</div>
				</div>
			</div>
		</header>

		<div class="page_top row">
			<div class="section col s12 m10 l10 offset-m1 offset-l1">
				<div class="col s12 m6 l6">
					<img class="pic" src="../public/images/png/pocketpup.png">
					<a class="ref" href="https://github.com/gjmorgan91/PocketPup" target="_blank">View on Github</a>
				</div>
				<div class="col s12 m6 l6">
					<h4>Pocket Pup</h4>
					<h6>Web app used to help better prepare and train dog owners through simulating situations based on their own pet’s needs.</h6><br>
					<!-- <a href="https://pocketpup.herokuapp.com" target="_blank">Demo Here</a> --><br><br>
					<h6><em class="italic">HTML / CSS / JavaScript / Node / Express / Adobe Illustrator / Adobe Photoshop</em></h6>
					<h6 class="disclaimer">All credit for the background art to Neko Atsume.</h6>
				</div>
			</div>
		</div>

	</body>

</html>