<!DOCTYPE html>

<html>

	<head>
		<title>GJM: Pocket Pup</title>
		<link rel="shortcut icon" type="image/x-icon" href="../public/images/png/swarley_favicon.png" />
		<meta name="landing" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../public/css/projects.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-107685063-1');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WTS59FW');</script>
		<!-- End Google Tag Manager -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../portfolio.js"></script>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107685063-1"></script>
	</head>

	<body>
		<header class="nav nav-down">
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="back col s3 m3 l3">
						<button><a href="../index.html"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</a></button>
					</div>
					<div class="back proj col s3 m3 l3">
						<div class="dropdown">
							<button onclick="dropDown()" class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i>Project List</button>
							<div id="myDropdown" class="dropdown-content">
								<a class="active" href="#">Paint the Town</a>
							    <a href="pocketpup.html">Pocket Pup</a>
							    <a href="wanderlust.html">Wanderlust</a>
							    <a href="chronicle.html">Chronicle</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="page_top row">
			<div class="col s12 m10 l10 offset-m1 offset-l1">
				<div class="col s12 m12 l6 gif_holder ptt">
					<div class="img_container ptt">
						<img class="header_img" src="../public/images/png/PTT_logo.png">
					</div>
				</div>
				<div class="col s12 m12 l6">
					<div class="content">
						<h4>Paint the Town</h4>
						<h6><b><em class="highlight">Project Lead, Lead Designer / Developer</em></b></h6>
						<h6>A virtual reality experience for the Oculus Rift. Lead a team of 9 student developers over the course of an 8 months to make a social application in which players bring their surroundings into color.</h6>
						<br>
						<h6><em class="italic">Unity / Oculus Rift / Visual Studio / Blender / Adobe Photoshop / Adobe Illustrator / Slack / Trello</em></h6>
						<div class="col s12 m12 l6">
							<div class="button_container fullwidth">
								<button class="primary fullwidth" type="button"><a href="https://github.com/UCSDVR/Paint-the-Town/wiki" target="_blank"><h6>Github Wiki</h6></a></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page_body row">
			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Overview</h5>
					<h6>Description</h6>
					<p>Paint the Town is a social VR experience in which players embody a color, interact and explore their environment, and, in turn, bring it to life. Each player is assigned a color. They paint their individual color within the scene, creating different hues of that color. When players interact with the same object, their colors are mixed, bringing the scene closer to its full-colored vision. Bringing the scene into full color allows the users to explore the details of it together and have a shared experience with one another.</p>
					<div class="row">
						<div class="col s10 offset-s1">
							<div class="row">
								<div class="col s4">
									<img src="../public/images/png/ptt_description_red.png">
								</div>
								<div class="col s4">
									<img src="../public/images/png/ptt_description_green.png">
								</div>
								<div class="col s4">
									<img src="../public/images/png/ptt_description_blue.png">
								</div>
							</div>
						</div>
					</div>
					<p>This project was started during the fall of '17. Recruitment and early development began in mid October. The project was completed early June at the Virtual Reality Club at UCSD's annual Spring Project Showcase.</p>
					<div class="row">
						<div class="col s10 offset-s1">
							<img src="../public/images/png/ptt_description2.png">
						</div>
					</div>
					<h6>Inspiration</h6>
					<p>This project was conceived in order to provide student developers a chance to make an application designed around a sensory experience for virtual reality technology.</p>
					<h6>Goals</h6>
					<p>The final iteration of this project, for the scope of the academic year of its development, was to have a fully functioning demo to showcase an in-house shader system influenced by user interaction, a fully developed scene of 3D models and textures, sounds, as well as animations. The demo will support 3 players who will be able to see and interact with one another to develop their own experience together.</p>
					<h6>Tools</h6>
					<p>This experienced is developed in the Unity game engine. 3D modeling relied on Blender with texturing generated in Adobe Photoshop. The project is designed for use with the Oculus Rift and its Touch Controllers.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Methods / Workflow</h5>
					<p>Work was segmented into week long segments of goal setting and evaluation. We implemented an Agile workflow to achieve this. Given participants of this project were offered course credit, a minimum number of hours each week wre required. I split the meetings into two different times; full group meeting involving all members and small team meetings.</p>
					<p>The team was broken into 3 sub teams which each were responsible for a particular, major aspect of the project.</p>
					<div class="row">
						<div class="col s8 l4">
							<h6>Gameplay</h6>
							<p>In charge of our multiplayer, the gameplay team met all needs involved with creating our game experience and building the functionality to perform the experience. They were responsible for integration of the Rift and Touch controllers and creating all our interaction within the experience.</p>
							<ul>
								<li>Brian Choy</li>
								<li>Cassie Zhu</li>
								<li>Jacob Ugalde</li>
								<li>Nathan Mansur</li>
							</ul>
						</div>
						<div class="col s8 l4">
							<h6>Design</h6>
							<p>All 3D modeling, texturing, and enviornment design. This team relied on working within the constraints of our shader system in order to build the house and every interactable object we filled it with. Everything used within the experience was made by our team.</p>
							<ul>
								<li>Brian Thai</li>
								<li>Joanna Lam</li>
								<li>Michelle Viado</li>
							</ul>
						</div>
						<div class="col s8 l4">
							<h6>Shader</h6>
							<p>Responsible for the shader which gave our painting effect. They deployed the model I made for our shader system. Once a draft of our shader was made, it was refined to improve the effect.</p>
							<ul>
								<li>Samuel Nye</li>
								<li>Zhihao (Michael) Wong</li>
							</ul>
						</div>
					</div>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<p>I interacted with each team, providing work throughout the stages of the project. I had built the house model while the design team provided everything which would populate it, I made a model for the shader system and developed the shader to support material properties such as emissions and trasparency, and I developed the transition effects for our objects which would toggle animations, sounds, and particle effects.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Fall Progress</h5>
					<h6>Demo Event</h6>
					<p>At the time of the first demo, we had not completed substantial work given we had only been developing for several weeks.</p>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<div class="row">
								<div class="col s12 m12">
									<img src="../public/images/gif/ptt_house_fall.gif">
								</div>
								<div class="col s12 m12 l6">
									<img src="../public/images/gif/ptt_shader_fall.gif">
								</div>
								<div class="col s12 m12 l6">
									<img src="../public/images/gif/ptt_shader_fall2.gif">
								</div>
							</div>
						</div>
						<div class="col s12 m12 l12">
								<p>Gifs showing the deliverables from our first deadline in the fall including the layout of the house model and the shader performing on a rainbow textured cube.</p>
							</div>
					</div>
					<p>We did make good progress on our shader system at the time. I had provided a model for how the shader would work. This helped the shader team deliver on a functioning demo of it which allowed us to control the rgb channels of a given texture. This was the first step needed before we could move to changing particular portions of the material.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Winter Progress</h5>
					<p>By this deadline we had a draft of the experience to demo. It included interactable objects which the user could paint throughout the house scene. The shader, however, was not working with a version of interaction which allowed the users to paint the objects. This version effected an object as a whole.</p>
					<p>We had developed our interaction around a gesture of pointing with the index finger using the Touch controllers. I believed this would be an inuitive way for users to have a 'painting' gesture given we had tech which would allow it. We found that users struggled the idea of pointing within the experience. Oculus provides hands within the experience through their assets for Rift integration. This lead us to think perhaps the use of controllers altogether led users to have possible preconceptions of which buttons would control their main interaction; the 'triggers' as you would find on a standard console controller.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Final Submission</h5>
					<h6>Mid-Quarter Progress</h6>
					<p>Halfway through our spring development, we compiled a snapshot of the progress with the goal of evaluating our timeline.</p>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<div class="col s12">
								<div class="row section">
									<div class="col s12">
										<img src="../public/images/png/SS_05.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_01.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_02.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_04.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_03.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_06.png">
									</div>
									<div class="col s12 l6">
										<img src="../public/images/png/SS_07.png">
									</div>
								</div>
							</div>
						</div>
					</div>
					<p>By this milestone, a lot of the house was complete with many of the smaller pieces in the process of texturing before being added to the scene. Our multiplayer was the largest, incomplete aspect which consumed most of the effort our gameplay team.</p>
					<h6>Demo Event</h6>
					<p>The demo was broken down into two mains scenes; the Lobby/Tutorial Scene and Main, House Scene.</p>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<h6>Lobby/Tutorial</h6>
							<p>This scene was added with the intention of teaching the users the mechanics and controls for the painting that will be completed in main scene while also acting as the scene for the multiplayer networking to take place.</p>
							<div class="row">
								<div class="col s12">
									<img src="../public/images/gif/Lobby_2.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/png/PTT_lobby2.PNG">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/png/PTT_lobby1.PNG">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/png/PTT_lobby3.PNG">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/Lobby_1.gif">
								</div>
							</div>
							<p>The park scene was made to feel like it was in the middle of an urban setting. This was chosen given that the title of the experience conveys a larger scope than what we chose to make for the purpose of completing in the timeline. In the middle of it is a key feature of the park, the statue. While it bears great resemblence to my dog <em class="disclaimer">no coincidence there</em>, it becomes to first interactable object for the players. Upon hitting "Start Game", the players are added to the networking lobby which is the same scene though the UI and logo are removed. With all 3 players painting the object, they are then moved to the main scene, the house scene.</p>
						</div>
					</div>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<h6>House Scene</h6>
							<p>The house is the scene which we had been working on since the beginning of the project. In this scene, every asset was made by our design team, with all texturing being done as well. Each player spawns into the house in a different room. From there, they carry over the painting they learned from the tutorial scene in order to interact with the space.</p>
							<div class="row">
								<div class="col s12 l6">
									<img src="../public/images/png/PTT_main1.PNG">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/png/PTT_main3.PNG">
								</div>
								<div class="col s12">
									<img src="../public/images/png/PTT_main2.PNG">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/BW_1.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/BW_2.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/BW_3.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/BW_4.gif">
								</div>
								<div class="col s12">
									<img src="../public/images/gif/Col_1.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/Col_2.gif">
								</div>
								<div class="col s12 l6">
									<img src="../public/images/gif/Col_3.gif">
								</div>
								<div class="col s12">
									<img src="../public/images/gif/Transition.gif">
								</div>
							</div>
							<p>The transition for the color effect became tied into several different functionalities. We added particles, motion, and sounds which are all connected to this variable used in the shader for the color.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m10 l8 offset-m1 offset-l1">
					<h5>Critique</h5>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<h6>Overall</h6>
							<p>The final product is very close to the vision I had. The team was fantastic and very dedicated to the project, and I owe them a great amount of gratitude for it. When the project began, I aimed to create an experience that was more sensory driven. It would be a social experience where players could choose their experience based on how they want to explore the environment. After the demo event, it became obvious that were successful in meeting those parameters.</p>
							<p>The project adopted a visual quality which was just an idea from the beginning. With all of the hard work, fine tuning, and critique given by the team, we developed this into <em class="disclaimer">(not trying to be overly confident)</em> what we feel is the most aesthetically pleasing experience made within the VR Club projects.</p>
						</div>
					</div>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<h6>Optimization</h6>
							<p>There were concerns in the beginning about how the painting mechanic would perform. At its current iteration, there is not a loss of performance of the experience when there are 3 players all interacting. This works while we only rely on the 2D texturing painting. Ideally, we would move into a 3D painting, allowing us to do more complex painting effects and transitions. However, this would cause a reduction of performance.</p>
							<p>One area of optimization that could be easily implemented in within the model of the shader. Currently the shader takes in 3 separate black images which we called the alpha images. Each one becomes used in the calculation for where to display the color on a texture. As the players paint, they are actually turning black portions of these images white, the areas that correspond to the location on the image texture. This could be optimized given we could do without 3 separate images, but use the RGB channels of a single alpha image.</p>
						</div>
					</div>
					<div class="row subsection ptt">
						<div class="col s12 section">
							<h6>My Growth</h6>
							<p>I learned a lot of leading a long term project throughout this experience. From the beginning, I used the experience of having been apart of a project like this the year before. I knew that, as a lead for this team, I wanted to make I provided clear instructions and goals in a concise means.</p>
							<p>Several of the methods I employed to acheive this were:</p>
							<ul>
								<li>Spreadsheets of attendance</li>
								<li>Providing clear goals for the roles of the team</li>
								<li>Laying out quarterly goals</li>
								<li>Full team meetings for between-subteam communication</li>
								<li>Individual weekly goals for members</li>
								<li>Learning methods used by subteams for clear communication</li>
								<li>Members did an end-of-quarter journals</li>
							</ul>
							<p>This project was my proudest accomplishment as a lead in any environment. I pulled from many of the experiences I previously had in order make this project successful.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="row">
				<div class="col s12 m10 offset-m1">
					<h6></h6>
				</div>
			</div>
		</footer>


	</body>

</html>