@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

html, body {
	margin: 0;
	font-family: 'Montserrat';
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	font-size: 100%;
	text-overflow: clip;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 6em;
	opacity: 1;
	margin: 0;
	line-height: 1;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5;
	opacity: 1;
	margin: 0;
}

h3 {
	text-transform: lowercase;
	margin: 0;
	margin-bottom: 3rem;
	line-height: 1.5;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	margin: 0;
	padding: 0;
	line-height: 2.2;
}

p, input, textarea, a, li, input, textarea, label {
	font-size: 0.9em;
	margin: 0;
	line-height: 1.5;
}
p {
	margin-bottom: 1rem;
}
figcaption p {
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: fit-content;
	cursor: pointer;
}
p a {
	color: inherit;
	display: inline-block;
}
ul, li {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
figure {
	margin: 0;
}
li a {
	font-size: 100%;
}

.italic {
	font-style: italic;
	color: grey;
}
.bold {
	font-weight: 600;
}
.disclaimer {
	font-style: normal;
	color: grey;
}

.wrapper {
	width: 70%;
	min-width: 960px;
	max-width: 1600px;
	margin: auto;
}

/*CONTRAST TOGGLE*/

.contrast {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: grid;
	grid-template-columns: repeat(2,auto);
	grid-template-rows: auto;
	grid-gap: 0.25rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	background-color: white;
	border: 1px solid grey;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.contrast input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 0;
	margin: 0;
	z-index: 1;
	cursor: pointer;
}

.contrast span {
	grid-column: 1;
	grid-row: 1;
	color: grey;
	width: 1rem;
	height: 1rem;
	background-color: lightgrey;
	padding: 0;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 1rem;
	border: 1px solid grey;
	border-top: 2px solid grey;
	border-bottom: 1px solid grey;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.contrast input:hover ~ span {
	background-color: darkgrey;
}

.contrast input:checked ~ span {
	border-bottom: 2px solid grey;
	border-top: 1px solid grey;
	background-color: rgba(180,180,210,1);
}

.contrast input:checled ~ .header_container h1 {
	mix-blend-mode: normal !important;
}

/*HEADER*/

header {
	min-height: 100vh;
}

header#main {
	height: 120vh;
	width: 100%;
	background-image: url(../svg/desk_illustration_whitebg.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.header_container {
	padding: 20vh 0 0 0;
	text-shadow: 0 0 4px rgba(255,240,230,0.5);
}
.header_container h1, .header_container h2, .header_container nav a {
	mix-blend-mode: multiply;
}
.header_container h1, .header_container h2 {
	color: #d72379;
}

.header_container h1 {
	margin: 0;
	padding: 0;
	animation: slideright 2s ease-in-out;
	-webkit-animation: slideright 2s ease-in-out;
	opacity: 1;
	font-weight: bold;
	/*-webkit-text-stroke: 1px white;*/
}
.high_contrast.header_container h1, .high_contrast.header_container h2 {
	mix-blend-mode: normal !important;
	color: #3d3539 !important;
}
.high_contrast nav a {
	mix-blend-mode: normal !important;
	background-color: #3d3539 !important;
}
@keyframes slideright {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	66% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@-webkit-keyframes slideright {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	66% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.header_container h1 em{
	font-style: normal;
	font-weight: normal;
}

.header_container .subheader {
	margin: 3rem 0;
}

.header_container h2{
	margin: 1rem 0;
	padding: 0;
	animation: slideright 2s ease-in-out;
	-webkit-animation: slideright 2s ease-in-out;
	font-weight: 600;
}

.header nav a {
	display: inline-block;
    margin-right: 3rem;
    background-color: #d72379;
    padding: 0.25rem 1.5rem;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    position: relative;
    top: 0;
    box-shadow: 0 0px 0px #d72379;
    animation: slideup;
    animation-duration: 2s;
    -webkit-animation: slideup;
    opacity: 1;
}
.header nav a:hover {
	top: -5px;
	color: white;
	text-decoration: none;
	box-shadow: 0 3px 12px #d72379;
}
@keyframes slideup {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	66% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@-webkit-keyframes slideup {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	66% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

/*PAGE CONTENT*/

section#about div.wrapper, section#projects div.wrapper, footer div.wrapper {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: auto;
	grid-gap: 2rem;
}

section, footer {
	padding: 5rem 0;
	margin: 5rem 0;
}
section#about {
	margin-bottom: 0;
	padding-bottom: 10rem;
}
footer {
	margin-top: 0;
	padding-top: 10rem;
}

section #header {
	justify-self: right;
}


/*ABOUT*/


section#about {
	box-shadow: 0 4px 6px rgba(50,50,60,0.5);
}

.about_link {
	display: block;
	color: #d72379;
	mix-blend-mode: multiply;
	margin: 2rem 0 0 0;
	opacity: 0.5;
}
.about_link:hover {
	opacity: 1;
}


/*PROJECTS*/

.projects_container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	grid-gap: 1rem;
	justify-items: center;
}

.projects_container figure {
	background-color: white;
    width: 100%;
    height: 100%;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    margin: 0;
    top: 0px;
	box-shadow: 0px 0px 0px #d72379;
	transition: all 0.3s ease-in;
}
.projects_container figure figcaption span {
	display: flex;
	width: 100%;
}
.projects_container figure span p:last-child {
	text-align: right;
	margin-left: auto;
	font-style: italic;
}
.projects_container figure .project_title {
	font-weight: 500;
}
.projects_container figure img{
	width: 100%;
    height: auto; 
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transform: scale(1.0);
}
.projects_container span.plus {
	display: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #d72379;
    text-align: -webkit-center;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    mix-blend-mode: multiply;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.projects_container figcaption {
    position: absolute;
    display: inline-block;
    padding: 0.7rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index: 3;
    background-color: #d72379;
    mix-blend-mode: darken;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    /*transition: opacity 0s ease-in-out;*/
    color: white;
}
.projects_container figcaption span p {
	/*overflow: hidden;
	white-space: nowrap;*/
}
.projects_container figcaption p:nth-child(3) {
	height: 55%;
	overflow: hidden;
	/*overflow-y: auto;*/
}
.projects_container figcaption a {
	display: block;
	padding: 2px 10px;
	border-radius: 5px;
	background-color: white;
	color: #d72379;
	transition: all 0.3s ease-out;
	border: 1px solid white;
	color: white;
	background-color: #d72379;
	border: 1px solid white;
	position: absolute;
	bottom: 0.7rem;
	font-weight: 400;
}
.projects_container figcaption a:hover {
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	text-decoration: none;
	background-color: white;
	color: #d72379;
	border: 1px solid white;
	font-weight: 500;
}
.projects_container figure:hover  figcaption{
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	opacity: 0.9;
	top: 0;
}
.projects_container figure:hover img {
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	opacity: 0.25;
	transform: scale(1);
}
.projects_container figure:hover {
	top: -5px;
	box-shadow: 0px 3px 12px #d72379;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

.projects_container figure:hover span.plus {
	opacity: 0;
	transition: all 0.5s ease-out;
}


/*CONTACT*/


footer {
	box-shadow: 0 -4px 6px rgba(50,50,60,0.5);
}

.contact_content {
	display: grid;
	grid-template-columns: 1fr 0.3fr;
	grid-template-rows: auto;
	grid-gap: 2rem;
	grid-template-areas: "form links";
}

footer form {
	grid-area: form;
	width: 100%;
	height: auto;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2rem;
}
footer textarea {
	grid-area: message;
	justify-self: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
footer .links {
	grid-area: links;
	margin: 0;
	padding: 0;
	text-align: left;
	/*justify-self: start;*/
}
footer ul {
	margin: 0;
	padding: 0;
}
footer#main .links div ul p {
	font-weight: 500;
	transition: all 0.5s ease-out;
}
footer#main .links div:hover ul p{
	transition: all 0.2s ease-out;
	color: #d72379;
}
footer#about .links div ul p {
	font-weight: 500;
	transition: all 0.5s ease-out;
}
footer#about .links div:hover ul p{
	transition: all 0.2s ease-out;
	color: #00c0e8;
}
footer .links div:last-child {
	padding-top: 1rem;
}
input {
	display: block;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 0.2rem;
}
input, textarea {
	outline: none;
}
footer li {
	display: block;
	text-decoration: none;
}
#email, #subject, #name {
	border: 1px white solid;
	border-radius: 5px 5px 0px 0px;
    border-bottom: 1px lightgrey solid;
    transition: all 0.2s ease-out;
}

.input:invalid:not(:focus):not(:placeholder-shown) {
    border-bottom: 1px solid red !important;
}
.input:invalid:focus:not(:placeholder-shown) {
	border-color: rgba(200,0,0,1) !important;
	box-shadow: 0px 0px 1px rgba(200,0,0,1) !important;
}
.input:valid:not(:placeholder-shown) {
	border-bottom: 1px solid rgba(0,200,0,1) !important;
}
.input:valid:focus {
	border: 1px solid rgba(0,200,0,1) !important;
	box-shadow: 0px 0px 1px rgba(0,200,0,1) !important;
}

#message {
	border: 1px lightgrey solid;
	transition: all 0.2s ease-out;
}
#email:focus, #subject:focus, #name:focus, #message:focus {
	border: 1px rgba(0,0,10,0.9) solid;
}
#email:hover, #subject:hover, #name:hover {
	border-bottom: 1px rgba(0,0,10,0.9) solid;
	transition: all 0.5s ease-out;
}
#message:hover {
	border: 1px rgba(0,0,10,0.9) solid;
	transition: all 0.5s ease-out;
}
footer #submit {
	position: relative;
	top: 0;
	transition: all 0.5s ease-out;
	cursor: pointer;
	border: 0px;
	border-radius: 5px;
	margin-top: 1.5rem;
	padding: 8px;
	color: white;
	text-transform: lowercase;
	box-shadow: 0px 0px 0px white;
}
footer#main #submit {
	background-color: #d72379;
}
footer#main #submit:hover {
	background-color: #d72379;
	box-shadow: 0px 3px 12px #d72379;
}
footer#about #submit {
	background-color: #00c0e8;
}
footer#about #submit:hover {
	background-color: #00c0e8;
	box-shadow: 0px 3px 12px #00c0e8;
}
footer #submit:hover, footer #submit:focus {
	top: -5px;
	box-shadow: 0px 3px 12px #d72379;
	transition: all 0.2s ease-out;
}

li {
	padding: 2px 0;
}
a {
	transition: all 0.2s ease-out;
}
a:hover {
	text-decoration: line-through;
	transition: all 0.2s ease-out;
	color: #d72379;
}
footer#about a:hover {
	text-decoration: line-through;
	transition: all 0.2s ease-out;
	color: #00c0e8;
}



/*ABOUT PAGE*/



header#about {
	box-shadow: 0 4px 6px rgba(50,50,60,0.5);
	position: relative;
	background-color: rgba(200,210,255,0.1);
}

header#about .wrapper {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 2rem;
	/*margin-top: 5rem;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: fit-content;
}

header h2 {
	margin-bottom: 1rem;
}

header#about #overview {
	padding-bottom: 2rem;
}

header#about #overview p {
	margin-bottom: 1rem;
}

.page_header {
	grid-column: span 2;
	padding-top: 3rem;
	/*margin-bottom: 2rem;*/
	/*display: inline-block;*/
}
.page_header h1, .page_header a {
	display: inline-block;
} 
.page_header h1 {
	color: #00c0e8;
	font-weight: bold;
}


/*EDUCATION*/


section#education div.education_content {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 2rem;
}
.education_content figure {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 1rem;
}
.education_content figure img, .education_content figure figcaption {
	display: inline;
}
.education_content figure img {
	height: auto;
	width: 100%;
	justify-self: center;
}

.education_content figure h4 {
	transition: all 0.3s ease-out;
}
.education_content figure:hover h4 {
	transition: all 0.1s ease-out;
	color: #00c0e8;
}


/*LEADERSHIP*/


.leadership_content {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-gap: 2rem;
}

.leadership_content div h4 {
	transition: all 1s ease-out;
}
.leadership_content div:hover h4 {
	transition: all 0.1s ease-out;
	color: #00c0e8;
}


/*SKILLS*/


.skills_content {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 2rem;
}

.skill_content figure h4 {
	transition: all 1s ease-out;
}
.skills_content figure:hover h4 {
	color: #00c0e8;
	transition: all 0.1s ease-out;
}

.skills_content li li {
	list-style: circle;
	margin-left: 1rem;
}

.skill_container {
	/*width: 100%;*/
	display: grid;
	grid-template-columns: 1fr 10fr;
	/*grid-template-rows: repeat(2,auto);*/
	grid-template-areas: 
	"logo name"
	"logo bar";
	grid-gap: 0 1rem;
	/*padding-left: 1rem;*/
	margin: 1rem 0;
	grid-auto-flow: row;
}
.skill_container img {
	grid-area: logo;
	width: 90%;
	height: auto;
	justify-self: center;
	align-self: center;
	opacity: 0.7;
}
.skill_container p {
	grid-area: name;
	margin-bottom: 0;
}
.skill_container progress {
	grid-area: bar;
	width: 100%;
}

/*PROGRESS BAR*/

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
   height: 0.5rem;
}

.skill_container progress::-webkit-progress-bar {
  background-color: lightgrey;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  opacity: 0.8;
}

.skill_container progress::-webkit-progress-value {
  background-color: #00c0e8;
  border-radius: 1rem;
  box-shadow: 0 0 2px #00c0e8;
}

.mobile {
	display: none;
}


/*MOBILE*/


@media (max-width: 1000px) {
	
	h1 {
		font-size: 5.5em;
		opacity: 1;
		margin: 0;
		line-height: 1;
	}
	@-moz-document url-prefix() {
	    html {
	        font-size: 200%;
	    }
	}

	h2 {
		font-size: 1.75em;
		opacity: 1;
		margin: 0;
		line-height: 1.5;
	}

	/*@-moz-document url-prefix() {
	    h2 {
	        font-size: 50%;
	    }
	}*/

	h3 {
		text-transform: lowercase;
		font-size: 1.2em;
		line-height: 1.5;
		margin-bottom: 3rem;
	}

	h4 {
		font-size: 1em;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}

	p, input, textarea, a, li, input, textarea, label {
	    font-size: 1rem;
	    margin: 0;
	    line-height: 1.5;
	}
	a {
		display: block;
	}

	section {
		min-height: 60vw;
	}

	.wrapper {
		width: 90%;
		min-width: inherit;
		max-width: inherit;
		margin: auto;
	}

	.mobile {
		display: block;
	}


	header#main {
		background-position: center;
		height: 220vw;
	}

	.wrapper.header {
		height: 100%;
		position: relative;
	}

	.header_container {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		font-size: 220%;
		height: fit-content;
		height: -moz-fit-content;
		padding: 0 0 10% 0;
	}
	@-moz-document url-prefix() {
	    .header_container {
	        font-size: 75%;
	        padding-top: 20vw;
	    }
	}
	.header_container nav {
		display: none;
	}

	nav.mobile {
		/*position: fixed;
		height: 10rem;
		width: 10rem;
		border-radius: 10rem;
	    bottom: 5vh;
	    right: 2rem;
	    background-color: #d72379;
	    mix-blend-mode: darken;
	    z-index: 100;
	    font-size: 5rem;
		line-height: 1;*/
	}

	nav.mobile figure {
		/*position: relative;*/
		position: fixed;
		height: 12rem;
		width: 12rem;
		border-radius: 12rem;
	    bottom: 4rem;
	    right: 4rem;
	    background-color: #d72379;
	    mix-blend-mode: darken;
	    z-index: 100;
	    font-size: 5rem;
		line-height: 1;
		box-shadow: 0 6px 24px #d72379;
	}
	@-moz-document url-prefix() {
	    nav.mobile figure {
	        height: 6rem;
	        width: 6rem;
	        bottom: 2rem;
	        right: 2rem;
	        border-radius: 6rem;
	    }
	}
	nav.mobile.show span {
		transform: rotate(45deg);
		/*top: -1px;*/
		right: 18px;
	}
	nav.mobile.show figcaption, nav.mobile.show figure:after {
		transform: translateY(0);
		transition: all 0.2s ease-in-out;
		transition-delay: 0.2s;
	}
	nav.mobile.show figcaption {
		box-shadow: 0 -6px 24px #d72379;
	}
	nav.mobile figure span {
		color: white;
		position: absolute;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    left: 0;
	    right: 0;
	    width: fit-content;
	    width: -moz-fit-content;
	    height: fit-content;
	    height: -moz-fit-content;
	    font-size: 12rem;
	    transition: all 0.2s ease-in;
	    line-height: 0.9;
	    z-index: 100;
	}
	nav.mobile figcaption {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		min-height: 150vw;
		transform: translateY(200%);
		transition: all 0.5s ease-in;
		transition-delay: 0.2s;
		background-color: #d72379;
		color: white;
		font-weight: bold;
		opacity: 0.8;
		z-index: 11;
		box-shadow: 0 0px 0px #d72379;
	}
	nav.mobile figure:after {
		content: " ";
		position: fixed;
		width: 100%;
		height: 150vw;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 9;
		background: grey;
		opacity: 1;
		transform: translateY(200%);
		transition: all 0.5s ease-in;
		transition-delay: 0.2s;
	}
	@-moz-document url-prefix() {
	    nav.mobile figure span {
	        font-size: 6rem;
	    }
	}
	nav.mobile figcaption a {
		font-size: 10vw;
		line-height: 2;
		text-align: center;
		width: 100%;
	}
	nav.mobile figcaption a:hover {
		color: initial;
		text-decoration: initial;
	}

	section#about div.wrapper, section#projects div.wrapper, footer div.wrapper {
		grid-template-columns: auto;
		grid-template-rows: repeat(2,auto);
		grid-gap: 0;
	}

	.about_link {
		margin-top: 3rem;
		width: 100%;
	}

	.projects_container {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(5,auto);
	}

	.projects_container figure p, .projects_container figure a{
		font-size: 250%;
	}
	@-moz-document url-prefix() {
	    .projects_container figure {
	        font-size: initial;
	    }
	}
	.projects_container figure:hover {
		grid-column: 1 / span 2;
		grid-row: span 2;
	}

	.projects_container span.plus {
		display: block;
	}
	@-moz-document url-prefix() {
	    .projects_container span.plus {
	        font-size: 1rem;
	        width: 1rem;
	        height: 1rem;
	        top: 0.5rem;
	        right: 0.5rem;
	    }
	}
	.projects_container figure:hover {
		top: 0px;
		box-shadow: 0px 3px 12px #d72379;
		transition: all 0.5s ease-out;
	}

	.contact_content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2,auto);
		grid-template-areas: 
		"form"
		"links";
	}

	footer form {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2,auto);
		font-size: 120%;
	}
	@-moz-document url-prefix() {
	    footer form {
	        /*font-size: initial;*/
	    }
	}
	footer form div:first-child {
		grid-row: 2;
	}
	input, label {
		font-size: 200%;
	}
	@-moz-document url-prefix() {
	    input, label {
	        font-size: 100%;
	    }
	}
	input {
		margin-bottom: 1rem;
	}
	label {
		margin-bottom: 2rem;
	}
	input#submit {
		margin: 2rem 0 1rem 0;
	}

	footer #submit {
		border-radius: 10px;
	}

	#email, #subject, #name {
		border-bottom: 1px grey solid;
	}
	#message {
		height: 20rem;
		border-color: grey;
		font-size: 100%;
	}
	@-moz-document url-prefix() {
	    #message {
	        font-size: 125%;
	    }
	}

	.contact_content .links {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: auto;
		grid-gap: 2rem;
	}
	footer .links div:nth-child(2) {
		padding-top: 0;
		margin-top: 0;
	}


	/*ABOUT*/

	header#about .wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2,auto);
		font-size: 150%;
		position: relative;
		padding: 5rem 0 10rem 0;
	}
	.page_header {
		grid-column: inherit;
		margin-bottom: 3rem;
	}
	header#about #overview {
		grid-column: inherit;
	}

	#back {
		font-size: 150%;
	}

	.education_content {
		grid-template-columns: 1fr !important;
		grid-template-rows: repeat(2,auto);
		grid-gap: 3rem;
	}

	.leadership_content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,auto);
		grid-gap: 3rem;
	}

	.skills_content {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: auto;
	}

	.skill_container img {
		width: 100%;
	}

	.skill_container progress {
		height: 0.75rem;
	}

}